@model ClassroomManagementApplication.Models.ClassroomIndexViewModel
@using ClassroomManagementApplication.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Classroom.classCode</h2>
<h1>Teacher: @Model.Teacher.teacherFirst, @Model.Teacher.teacherLast</h1>
<h3>@Model.Classroom.semesterStart.Value.ToShortDateString() - @Model.Classroom.semesterEnd.Value.ToShortDateString()</h3>

@if (Model.Students.Count > 0)
{
<table>
    <thead>First Name</thead>
    <thead>Username</thead>
    <thead>Points Total</thead>
    <thead>Add Behavior</thead>
    @foreach (Student s in Model.Students)
    {
        <tr>
            <td>@s.studentFirst</td>
            <td>@s.studentUsername</td>
            <td>@s.totalPoints</td>
            <td>@Html.ActionLink("","","",null)</td>
        </tr>
    }
</table>
}



