@model ClassroomManagementApplication.Models.AddTypeViewModel
@{
    ViewBag.Title = "Add a Behavior";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Add a New Behavior Type to the Rubric</h2>

@using (Html.BeginForm("AddType", "Behavior", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <dt>Behavior Title:</dt>
    <dd>
        @Html.TextBoxFor(m => m.Title)

    </dd>
    <dt>Behavior Description:</dt>
    <dd>
        @Html.TextBoxFor(m => m.Description)

    </dd>
    <dt>Point Value:</dt>
    <dd>
        @Html.TextBoxFor(m => m.PointValue)
    </dd>
    @Html.HiddenFor(m => m.ClassCode);

    <input type="submit" value="Add Behavior" />
}

