
    <nav class="navbar navbar-default sticky-top nav-custom ">
        <div class="container">
                @Html.ActionLink("Classroom Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <h5>@Html.ActionLink("Home", "Index", "Home")</h5>
            <h5>@Html.ActionLink("About", "About", "Home")</h5>
            <h5>@Html.ActionLink("Contact", "Contact", "Home")</h5>
            <h5>@Html.Partial("_LoginPartial")</h5>
        </div>
    </nav>

